*.zip
banned-ips.json
banned-players.json
cache/*
crash-reports/*
commands.yml
eula.txt
help.yml
libraries/*
logs/*
ops.json
permissions.yml
plugins/BentoBox/database/Names/*
plugins/BentoBox/database/Players/*
plugins/BentoBox/locales/*
plugins/CoreProtect/database.db
plugins/Essentials/userdata/*
plugins/Essentials/usermap.csv
plugins/LuckPerms/translations/*
plugins/WorldEdit/.archive-unpack/*
skygrid-world/playerdata/*
skygrid-world/stats/*
skygrid-world/advancements/*
usercache.json
version_history.json
versions/*
wepif.yml
whitelist.json
plugins/CMILib/Translations/*
